@import '../variables';

.categories {
  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin: 10px 10px 0 0;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      @media (max-width: 472px) {
        padding: 7px 7px;
      }

      @media (max-width: 405px) {
        padding: 7px 7px;
      }

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
