@import '../variables';

.not-found {
  margin: 50px auto 0;
  text-align: center;

  &__error {
    font-size: 68px;
    margin: 0;
  }

  p {
    font-size: 24px;
    margin-bottom: 150px;
  }

  button {
    border: 0;
    background-color: transparent;
    color: $orange;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;

    &:hover {
      color: darken($orange, 8%);
    }
  }
}
