@import './fonts';
@import './variables';
@import './libs/normalize';

@import './components/all';

body {
  background-color: $background;
}

.wrapper {
  width: calc(100% - 100px);
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 1400px;
  overflow: hidden;

  @media (max-width: 822px) {
    width: 100%;
    border-radius: 0;
  }
}

.content {
  padding: 40px 0;

  @media (max-width: 472px) {
    padding: 20px 0;
  }

  &__title {
    @media (max-width: 822px) {
      margin-bottom: 20px;
    }
  }
}

.container {
  width: $container-width;
  margin: 0 auto;
}
